@charset "utf-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}
HTML {
	width:100%;
	margin:0;
	padding:0;
}
Body {
	font:1em/19px Arial, Helvetica, sans-serif;
	color:#171717;
	background:#c1c9e0;
	width:100%;
	height:100%;
}
A {
	color:#171717;
	text-decoration:underline;
}
A:hover {
	text-decoration:none;
}
img {
	border:0;
}
H1 {
	color: #0380A3;
	font: bold 15pt Arial, Helvetica, sans-serif;
	padding: 0 0 15px 0;
}
H2 {
	color: #274573;
	font: bold 13pt Arial, Helvetica, sans-serif;
	padding: 10px 0;
}
H3 {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 10px 0;
}
H4 {
	font: bold 11pt Arial, Helvetica, sans-serif;
	padding: 10px 0;
}
ul {
	padding:0;
	margin:0;
	list-style:none;
}
P {
	padding:0 0 20px 0;
}
.main_wrapper {
	width:900px;
	margin:0 auto;
}
.header_wrapper {
	width:100%;
	float:left;
}
.logo {
	float:left;
	height:122px;
}
.main_nav {
	width:100%;
	height:48px;
	float:left;
	background:url(../images/mainnavBG.jpg) repeat-x
}
.main_nav ul li {
	height:48px;
	line-height:48px;
	float:left;
	background:url(../images/mainnav_pipe.jpg) no-repeat top right;
}
.main_nav ul li a {
	color:#fff;
	font-size:1.2em;
	padding:0 22px;
	font-weight:normal;
	text-decoration:none;
	display:block;
}
.main_nav ul li a:hover, .main_nav ul li.active {
	text-decoration:none;
	color:#fff;
	background:url(../images/mainnavBG_hover.jpg) repeat-x;
}
.home_wrapper {
	width:880px;
	float:left;
	background:#fff;
	margin:10px 0 0 0;
	padding:10px;
}
.footer_wrapper {
	background:#325482;
	width:100%;
	float:left;
	color:#fff;
}
.footer_wrapper ul li {
	width:46%;
	float:left;
	padding:2%;
}
.footer_wrapper ul li.right {
	text-align:right;
}
.general_listings {
	float: left;
	width: 880px;
	padding:0 0 20px 0;
}
.general_listings ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.general_listings ul li {
	background: url("../images/bluebullet.jpg") no-repeat scroll left 7px transparent;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	padding: 0 0 5px 10px;
	width: 860px;
}
.clearfix {
	clear:both;
}
.campervan_block {
	border: 1px solid #CECECE;
	float: left;
	margin: 20px 0 0;
	width: 880px;
}
.campervan_block ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.campervan_block ul li {
	float: left;
	text-align: center;
}
.campervan_block ul li a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0;
	text-decoration: none;
	width: 293px;
}
.campervan_block ul li a:hover {
	background: none repeat scroll 0 0 #F3F3F3;
}
.campervan_block img {
	padding: 0 0 20px;
}
.quote_wrapper {
	width:587px;
	float:left;
	padding:20px 0 0 0;
}
.quote_wrapper ul {
	padding:0;
	margin:0;
	list-style:none;
}
.quote_wrapper ul li {
	display:block;
	width:293px;
	float:left;
	padding:0 0 8px 0;
}
.condition {
	width:864px;
	font-size:12px;
	padding:15px 0 0 0;
	float:left;
	color:#c90303;
}
.textarea {
	width:200px;
	padding:0 2px;
	height:19px;
	border:1px solid #cecece;
	font:14px Arial, Helvetica, sans-serif;
}
.cf_inputbox {
	width:300px;
	height:90px;
	font:14px Arial, Helvetica, sans-serif;
	border:1px solid #cecece;
	resize:none;
}
.button {
	background:#152b5a;
	color:#fff;
	border:1px solid #152b5a;
	padding:2px 10px;
	font:bold 14px Arial, Helvetica, sans-serif;
}
#accordion {
	margin:0;
	padding:0;
	list-style:none;
}
#accordion li {
	width:880px;
	margin:0 0 2px 0;
}
#accordion li a {
	display: block;
	padding:0 0 0 20px;
	font:Bold 13px/24px Arial, Helvetica, sans-serif;
	color:#2578b7;
	height: 24px;
	text-decoration:none;
}
/* Using CSS Sprite for menu item */
#accordion li a.popular, #accordion li a.category, #accordion li a.comment {
	background:#d9ecf9;
}
#accordion li a.popular:hover, .popularOver, #accordion li a.category:hover, .categoryOver, #accordion li a.comment:hover, .commentOver {
	background:#40ace4;
	color:#fff;
}
/* Second Level UL List*/
#accordion ul {
	width:860px;
	margin:0;
	padding:10px 0 10px 20px;
	display:none;
}
#accordion ul li {
	width:430px;
}
/* styling of submenu item */
#accordion ul li a {
	height:25px;
	margin-left:15px;
	padding-top:5px;
	border-bottom: 1px dotted #777;
	text-indent:0;
	color:#ccc;
	text-decoration:none;
}
/* remove border bottom of the last item */
			#accordion ul li a.last {
	border-bottom: none;
}
small {
	width:150px;
	float:right;
}
.blue_header {
	color: #2f70db;
	font: 1em Arial, Helvetica, sans-serif;
}
.onsubmit {
	line-height:250px;
	text-align:center;
}